#root {
  position: relative;
  background-color: black; /* Fallback background color */
  color: black;
  background-image: url('../images/bgc15.jpg');
  background-size:contain;
  overflow: hidden;
  /* background-repeat: no-repeat; */
}

#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size:contain;
  background-repeat: no-repeat;
  z-index: -1;
}

@media (max-width: 600px) {
  #root {
    position: relative;
    background-color: black; /* Fallback background color */
    color: black;
    background-image: url('../images/bgc4.jpg');
    background-size:contain;
    overflow: hidden;
    /* background-repeat: no-repeat; */
  }
  #root::before {
    transform: rotate(90deg);
    transform-origin: center;
    width: 100%; /* Adjust to cover the entire viewport */
    height: 100%; /* Adjust to cover the entire viewport */
    background-size: cover; /* Adjust the background size */
  }
}
