.footer{
  margin-top: 10vh;
  height: 7vh;
  background-size:cover;
  background-repeat: no-repeat;
}

.socialbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
}

.socialbtn img{
  /* margin-top: 16px; */
  /* padding: 10px; */
  /* width: 40px; */
  border-radius: 20px;
  margin-left: 60px;
  background-color: transparent;
  border: 0px;
  cursor: pointer
}

@media (max-width: 600px) {
  .footer{
    margin-top: 0px;
  }
}