@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* #root{
    background-image: url('../images/bgc5.jpg');
} */
*{
    margin: 0;
    padding: 0;
}
.main-body{
    height: 100vh;
    width: 100vw;
    /* background-image: url('../images/bgc.jpg'); */
    /* background-image: url('../images/bgc2.jpg'); */

/* background-size: cover; */
/* background-repeat: no-repeat; */
    /* background-image: linear-gradient(to top left,  black 0%,  #434343 100%);  */
    /* background-color: pink; */
    /* color: #fff; */
}


.main{
    /* background-color: yellow; */
    /* height: 100vh; */
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    /* background-color: green; */
    height: 80vh;
    width: 80vw;
    /* margin: 100px;
    margin-top: 0px; */
    /* align-items: center; */
    display: flex;
    justify-content: space-around;
    /* border-style:dashed; */
    /* border-width: 1px; */
    /* border-color: black; */
}

.devPic img{
    height: 55vh;
    /* background-color: #fff; */
    /* margin-bottom: 20px; */

}

.devInfo{
    display: flex;
    /* justify-content: center; */
    margin-top: 120px;
    flex-direction: column;
    /* font-family: "Source Code Pro", monospace; */
}

.hello{
    font-size: 70px;
    font-family: "Source Code Pro", monospace;
}
.name{
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.info{    
    font-family: "Source Code Pro", monospace;
    font-size: 40px;
    width: 50vw;
}
.home-buttons button{
    margin-top: 50px;
    padding: 12px;
    border-radius: 24px;
    border: 0px;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(95, 84, 84);
    background-color: rgb(39, 8, 8);
    color: #fff;
    width: 130px;
}
.home-buttons button:hover{
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              opacity 0.55s ease;
    /* background-color: rgb(255, 151, 133); */
   /* color: black; */
    color: rgb(118, 33, 18);
    background-color: white;

    
    
}