.projects {
}

.heading {
  /* background-color: green; */
  padding-top: 2vh;
  text-align: center;
}

.project1, .project2 {
  display: flex;
  /* background-color: #c0bec8; */
  /* background-color: #e4e4e4; */
  /* opacity: 0.3; */
  padding: 2vw 1vw 2vw 1vw;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2vh;
  text-align: justify;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  /* border: .31vh solid; */
  margin-bottom: 4vh;
  margin-top: 4vh;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.23vh; 
}

.project1 .project-info {
  width: 60vw;
  margin-right: 2vw;
  /* background-color: #fff; */
}

.project2 .project-info {
  width: 60vw;
  margin-left: 2vw;
  /* background-color: #fff; */
}

.cor{
  display: flex;
  flex-direction: row;
}

.cor-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  padding-left: 1.457vw;
}


.coors{
  border-style: solid;
  border-width: 0.01vh;
}

.cor-images img {
  border-style: solid;
  width: 24vw;
  height: 13.5vw;
  object-fit: fill;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .heading {
    /* background-color: green; */
    padding-top: 2vh;
    text-align: center;
    margin-bottom: -2vh;
  }
  
  .project1, .project2 {
    display: flex;
    width: 85vw;
    flex-direction: column;
    /* background-color: maroon; */
    
    /* padding: 1vh 6vw 3vh 2vw; */
    text-align: justify;
    /* margin: 0 3vw 0 3vw; */
    /* margin-bottom: 6vh; */
    margin: 5vh auto;
  }
  
  .project1 .project-info {
    width: 100%;
    padding-left: 0vw;
    /* margin-left: 0vw; */
    margin: auto;
    /* margin-right: 2vw; */
    /* background-color: #fff; */
  }
  
  .project2 .project-info {
    width: 100%;
    padding-left: 0vw;
    margin: auto;
    /* margin-left: 0vw; */
    /* margin-left: 2vw; */
    /* background-color: lightseagreen; */
  }
  
  .cor{
    display: flex;
    flex-direction: column;
    /* background-color: crimson; */
    /* display: none; */
  }
  
  .cor-images {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    padding-left: 1.9vh;
    /* fiont */
  }
  
  
  .coors{
    border-style: solid;
  }
  
  .cor-images img {
    width: 80.64vw;
    height: 45.36vw;
    object-fit: fill;
    border-style: solid;
    border-radius: 20px;
  }

  .space{
    /* height: 20vh; */
    margin: 20vh;
    /* padding: 20vh; */
    background: #000;
  }
}

